<section class="column row-center gap-1 width-60">
  <h1 class="welcome"> Welcome to Recipe App </h1>
  <p class="app-description">The Recipe app keeps track of all your recipes, ingredients, and inventory. It will 
  allow you to save ingredients, keep track of what you have, create recipes, and generate 
  a shopping list based on what you have and what you are missing from a recipe.</p>
  <h2> Author </h2>
  <p><a href="https://www.linkedin.com/in/antoniohincapie/" class="author">M. Antonio Hincapie Montes</a></p>
</section>
